@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables';

body {
  margin: 0;
  background-color: $white;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

h1,
p {
  color: #244141;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

.app-btn {
  background: linear-gradient(259.65deg, #1DC3CF -19.75%, #0093A7 135.06%);
  &.btn-outline-blue {
    background: $button-bg;
    color: $button-text;
    // border: 1px solid;
    &:disabled {
      background: none;
      color: $disabled;
      border: 1px solid $disabled;
    }
  }
  &.btn-outline-red {
    background: $white;
    color: $red;
    border: 1px solid $red;
    &:disabled {
      background: none;
      color: $disabled;
      border: 1px solid $disabled;
    }
  }
  &:disabled {
    background: linear-gradient(
      83.49deg,
      rgb(113, 201, 250, 0.25) -108.79%,
      rgb(0, 84, 255, 0.25) 76.92%
    );
  }
}

// Material UI Modal Overwrite
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgb(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px) !important;
}

@import './form.scss';
