@import "../assets/styles/variables";

#layout-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 116px 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "sidenav topnav"
    "sidenav main";
}

#side-navigation {
  background-color: $light_grey;
  grid-area: sidenav;
  align-items: center;
}

#top-navigation {
  grid-area: topnav;
  padding: 20px 30px;
}

main {
  grid-area: main;
  padding: 15px 30px;
  overflow: auto;
}
